<p-card header="Recuperar constraseña">
  <div class="border-round-lg px-1 pt-6 pb-0 gap-0 lg:px-6">
    <form [formGroup]="form" id="ngForm">
      <div class="flex flex-wrap flex-column gap-4 align-items-start">
        <div class="col-12 lg:col-6">
          <span class="p-float-label">
            <input
              id="email-input"
              formControlName="email"
              type="email"
              pInputText
            />
            <label for="email-input">Email</label>
          </span>
        </div>

        <div class="col-12 lg:col-6">
          <span class="p-float-label">
            <p-password
              id="password"
              formControlName="password"
              type="password"
              class="w-full"
              [feedback]="true"
              styleClass="p-password p-component p-inputwrapper p-input-icon-right"
              [inputStyle]="{ width: '100%' }"
              [toggleMask]="true"
              promptLabel="Ingresar Contraseña"
              weakLabel="Débil"
              mediumLabel="Medio"
              strongLabel="Seguro"
            >
              <ng-template pTemplate="header">
                <h6>Seguridad</h6>
              </ng-template>
              <ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="mt-2">Sugerencias</p>
                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                  <li>Una minúscula</li>
                  <li>Una mayúscula</li>
                  <li>Un número</li>
                  <li>Ocho caracteres</li>
                </ul>
              </ng-template></p-password
            >
            <label for="password-input">Nueva Contraseña</label>
          </span>
        </div>

        <div class="col-12 lg:col-6">
          <span class="p-float-label">
            <p-password
              id="password_confirmation"
              formControlName="password_confirmation"
              type="password"
              class="w-full"
              [feedback]="false"
              styleClass="p-password p-component p-inputwrapper p-input-icon-right"
              [inputStyle]="{ width: '100%' }"
              [toggleMask]="true"
            ></p-password>
            <label for="password_confirmation-input">Repetir Contraseña</label>
          </span>
        </div>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <div
      class="flex flex-wrap justify-content-around px-1 pt-0 mt-0 gap-0 lg:px-6"
    >
      <button pButton pRipple label="Enviar" (click)="onSubmitClick()"></button>
    </div>
  </ng-template>
</p-card>
