<div class="flex flex-row justify-content-between px-4">
  <div class="flex flex-column">
    <h4>{{ dates }}</h4>
  </div>
  <div class="flex flex-column" [ngClass]="editModeOn ? 'col-9' : 'col-10'">
    <h3 class="py-0 my-0">{{ item.qualification }}</h3>
    <h4 class="py-0 my-0 text-500 font-medium">
      {{ item.institution }} - {{ item.city }}, {{ item.country }}
    </h4>

    <div class="pt-3">
      <p-panel
        header="Description"
        [toggleable]="true"
        [collapsed]="true"
        [toggler]="'header'"
      >
        <div class="text-sm line-height-2" [innerHtml]="item.details"></div>
      </p-panel>
    </div>

    <div class="pt-0">
      <app-tag-display
        [editOn]="false"
        [label]="''"
        [control]="tagControl"
      ></app-tag-display>
    </div>
  </div>
  <div
    class="flex flex-column col-1 gap-2 justify-content-center"
    *ngIf="editModeOn"
  >
    <button
      pButton
      class="p-button-primary p-button-outlined"
      icon="pi pi-pencil"
      (click)="onEditClick()"
    ></button>
    <button
      pButton
      class="p-button-danger p-button-outlined"
      icon="pi pi-trash"
      (click)="onDeleteClick()"
    ></button>
  </div>
</div>
