<p-card header="Recuperar constraseña">
  <div class="border-round-lg px-1 pt-6 pb-0 gap-0 lg:px-6">
    <form [formGroup]="form" id="ngForm">
      <div class="flex flex-wrap flex-column gap-4 align-items-start">
        <p-messages
          severity="info"
          text="Puedes recuperar tu contraseña con tu
        dirección de correo electronico"
          styleClass="mr-2"
        ></p-messages>

        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>

          <span class="p-float-label">
            <input
              id="email-input"
              formControlName="email"
              type="email"
              pInputText
              [style]="{ 'max-width': '200px' }"
            />
            <label for="email-input">Email</label>
          </span>
        </div>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <div
      class="flex flex-wrap justify-content-around px-1 pt-0 mt-0 gap-0 lg:px-6"
    >
      <button pButton pRipple label="Enviar" (click)="onSubmitClick()"></button>
    </div>
  </ng-template>
</p-card>
