<div *ngIf="!editOn">
  <h3 id="label" class="py-0 my-0 font-normal text-base">{{ label }}</h3>
  <p id="value" class="py-0 my-0 font-bold text-lg">
    {{ control.value | date : "dd/MM/yyyy" || "N/A" }}
  </p>
</div>
<div *ngIf="editOn">
  <div class="p-fluid mt-4">
    <span class="p-float-label w-full">
      <p-calendar [formControl]="control" [showIcon]="true"></p-calendar>
      <label for="float-label">{{ label }}</label>
    </span>
    <div class="mx-1" *ngFor="let item of control.errors | keyvalue">
      <small
        *ngIf="item.key == 'serverError'"
        id="input-help"
        class="p-error"
        >{{ item.value }}</small
      >
    </div>
  </div>
</div>
