<app-card [title]="title" [image]="image">
  <app-edit-actions
    [(editModeOn)]="editModeOn"
    [saveCallback]="onSaveClick.bind(this)"
  ></app-edit-actions>

  <section id="details">
    <div class="grid">
      <div class="col-2 flex align-items-center justify-content-center">
        <i class="pi pi-id-card" style="font-size: 2rem"></i>
      </div>
      <div class="col-10">
        <div *ngIf="!editModeOn">
          <h3 class="py-0 my-0 font-normal text-base">Name</h3>
          <p class="py-0 my-0 font-bold text-lg">
            {{ firstNameControl.value }} {{ lastNameControl.value }}
          </p>
        </div>

        <div *ngIf="editModeOn">
          <span class="p-float-label my-4">
            <input
              id="firstName"
              class="w-10"
              type="text"
              pInputText
              [formControl]="firstNameControl"
            />
            <label htmlFor="firstName">First Name</label>
          </span>
          <span class="p-float-label mb-4">
            <input
              id="lastName"
              class="w-10"
              type="text"
              pInputText
              [formControl]="lastNameControl"
            />
            <label htmlFor="lastName">Last Name</label>
          </span>
        </div>
      </div>

      <div class="col-2 flex align-items-center justify-content-center">
        <i class="pi pi-envelope" style="font-size: 2rem"></i>
      </div>
      <div class="col-10">
        <app-input-text
          [editOn]="editModeOn"
          [label]="'Email'"
          [control]="emailControl"
          [type]="'email'"
        ></app-input-text>
      </div>

      <div class="col-2 flex align-items-center justify-content-center">
        <i class="pi pi-phone" style="font-size: 2rem"></i>
      </div>
      <div class="col-10">
        <app-input-text
          [editOn]="editModeOn"
          [label]="'Phone'"
          [control]="phoneControl"
          [type]="'text'"
        ></app-input-text>
      </div>

      <div class="col-2 flex align-items-center justify-content-center">
        <i class="pi pi-map-marker" style="font-size: 2rem"></i>
      </div>
      <div class="col-10">
        <div *ngIf="!editModeOn">
          <h3 class="py-0 my-0 font-normal text-base">Location</h3>
          <p class="py-0 my-0 font-bold text-lg">
            {{ cityControl.value }}, {{ countryControl.value }}
          </p>
        </div>

        <div *ngIf="editModeOn">
          <span class="p-float-label my-4">
            <input
              id="city"
              class="w-10"
              type="text"
              pInputText
              [formControl]="cityControl"
            />
            <label htmlFor="city">City</label>
          </span>
          <span class="p-float-label mb-4">
            <input
              id="country"
              class="w-10"
              type="text"
              pInputText
              [formControl]="countryControl"
            />
            <label htmlFor="countryControl">Country</label>
          </span>
        </div>
      </div>
    </div>
  </section>
</app-card>
