<app-card>
  <div class="container">
    <app-tab-menu [items]="items"></app-tab-menu>
    <div class="actions">
      <p-button
        *ngIf="!isAuth"
        (onClick)="login()"
        label="Login"
        icon="pi pi-sign-in"
        styleClass="p-button-sm p-button-text"
      ></p-button>

      <p-button
        *ngIf="isAuth"
        (onClick)="logout()"
        label="Logout"
        icon="pi pi-sign-out"
        styleClass="p-button-sm p-button-text p-button-danger"
      ></p-button>
    </div>
  </div>
</app-card>
