<app-card>
  <div
    class="flex flex-wrap flex-row-reverse justify-content-between align-items-center"
  >
    <div class="actions">
      <p-button
        *ngIf="!isAuth"
        (onClick)="login()"
        label="Login"
        icon="pi pi-sign-in"
        styleClass="p-button-sm p-button-text"
      ></p-button>

      <p-button
        *ngIf="isAuth"
        (onClick)="logout()"
        label="Logout"
        icon="pi pi-sign-out"
        styleClass="p-button-sm p-button-text p-button-danger"
      ></p-button>
    </div>
    <div class="block">
      <app-tab-menu [items]="items" [activeItem]="activeItem"></app-tab-menu>
    </div>
  </div>
</app-card>
