<section
  *ngIf="isAuth"
  id="actions"
  class="py-2 my-2 bg-gray-100 border-round-xl"
>
  <div *ngIf="!editModeOn" class="flex justify-content-end mx-3 flex-wrap">
    <p-button
      id="edit"
      label="Edit"
      styleClass="p-button-text"
      (onClick)="onEditClick()"
    ></p-button>
  </div>

  <div
    *ngIf="editModeOn"
    class="flex flex-row flex-wrap justify-content-between mx-3"
  >
    <div>
      <p-button
        *ngIf="addButtonOn"
        id="add"
        label="Add New"
        styleClass="p-button"
        (onClick)="onAddClick()"
      ></p-button>
      <p-button
        *ngIf="deleteButtonOn"
        id="add"
        label="Delete"
        styleClass="p-button p-button-danger p-button-outlined"
        (onClick)="onDeleteClick()"
      ></p-button>
    </div>

    <div class="flex justify-content-end flex-wrap">
      <p-button
        id="cancel"
        [label]="cancelButtonLabel"
        styleClass="p-button-secondary p-button-text"
        (onClick)="onCancelClick()"
      ></p-button>

      <p-button
        *ngIf="saveButtonOn"
        id="save"
        label="Save"
        styleClass="p-button-outlined"
        (onClick)="onSaveClick()"
      ></p-button>
    </div>
  </div>
</section>
