<section *ngIf="isAuth" id="actions">
  <div *ngIf="!editModeOn" class="flex justify-content-end flex-wrap">
    <p-button
      id="edit"
      label="Edit"
      styleClass="p-button-text"
      (onClick)="onEditClick()"
    ></p-button>
  </div>

  <div *ngIf="editModeOn" class="flex justify-content-end flex-wrap">
    <p-button
      id="cancel"
      label="Cancel"
      styleClass="p-button-secondary p-button-text"
      (onClick)="onCancelClick()"
    ></p-button>

    <p-button
      id="save"
      label="Save"
      styleClass="p-button-outlined"
      (onClick)="onSaveClick()"
    ></p-button>
  </div>
</section>
