<div class="flex flex-wrap justify-content-center">
  <div class="w-10">
    <div class="grid flex flex-wrap">
      <div class="flex flex-column row-gap-3 sm:col-11 md:col-4">
        <app-personal-details></app-personal-details>
        <app-social-media></app-social-media>
        <app-attachments></app-attachments>
        <app-contact></app-contact>
      </div>
      <div class="sm:col-11 md:col-8 row-gap-3">
        <app-toolbar></app-toolbar>

        <section id="resume">
          <app-about></app-about>
          <app-skills></app-skills>
          <app-experience></app-experience>
          <app-education></app-education>
        </section>

        <section id="works">
          <app-works></app-works>
        </section>

        <section id="blog">
          <app-blog></app-blog>
        </section>

        <section id="contact">
          <app-contact></app-contact>
        </section>
      </div>
    </div>
  </div>
</div>
