<div class="flex flex-wrap justify-content-center">
  <div class="w-10">
    <div class="grid flex flex-wrap row-gap-3">
      <div class="flex flex-column row-gap-3 sm:col-11 md:col-4">
        <app-personal-details></app-personal-details>
        <app-social-media></app-social-media>
        <app-attachments></app-attachments>
        <app-contact></app-contact>
      </div>
      <div class="flex flex-column gap-2 sm:col-11 md:col-8">
        <app-toolbar></app-toolbar>

        <router-outlet>
          <app-resume></app-resume>
        </router-outlet>
      </div>
    </div>
  </div>
</div>
