<div class="flex flex-wrap justify-content-center">
  <div class="w-10">
    <div class="grid flex flex-wrap row-gap-3">
      <div class="flex flex-column row-gap-3 sm:col-11 md:col-4">
        <app-personal-details></app-personal-details>
        <app-social-media></app-social-media>
        <app-attachments></app-attachments>
        <app-contact></app-contact>
      </div>
      <div class="flex flex-column gap-3 sm:col-11 md:col-8">
        <app-toolbar [(activeTab)]="activeTab"></app-toolbar>

        <ng-template [ngIf]="activeTab == 'Resume'">
          <section id="resume" class="flex flex-column gap-3">
            <app-about></app-about>
            <app-skills></app-skills>
            <app-experience></app-experience>
            <app-education></app-education>
          </section>
        </ng-template>

        <ng-template [ngIf]="activeTab == 'Works'">
          <section id="works">
            <app-works></app-works>
          </section>
        </ng-template>

        <ng-template [ngIf]="activeTab == 'Blog'">
          <section id="blog">
            <app-blog></app-blog>
          </section>
        </ng-template>

        <ng-template [ngIf]="activeTab == 'Contact'">
          <section id="contact">
            <app-contact></app-contact>
          </section>
        </ng-template>
      </div>
    </div>
  </div>
</div>
