<div class="flex flex-wrap flex-row gap-5">
  <div class="flex flex-column col-3">
    <h4>{{ dates }}</h4>
  </div>
  <div class="flex flex-column col-8">
    <h3 class="py-0 my-0">{{ experience.title }}</h3>
    <h4 class="py-0 my-0 text-500 font-medium">
      {{ experience.company }} - {{ experience.city }}, {{ experience.country }}
    </h4>

    <div class="pt-3">
      <p-panel
        header="Description"
        [toggleable]="true"
        [collapsed]="true"
        [toggler]="'header'"
      >
        <div
          class="text-sm line-height-2"
          [innerHtml]="experience.description"
        ></div>
      </p-panel>
    </div>

    <div class="pt-0">
      <app-tag-display
        [editOn]="false"
        [label]="''"
        [control]="tagControl"
      ></app-tag-display>
    </div>
  </div>
</div>
