<p-card header="Registro de usuario">
  <form [formGroup]="form" id="ngForm">
    <div
      class="flex flex-column gap-3 align-items-center justify-content-center"
    >
      <div class="col-12 lg:col-6">
        <span class="p-float-label">
          <input
            id="first_name-input"
            formControlName="first_name"
            type="text"
            pInputText
          />
          <label for="first_name-input">Nombre</label>
        </span>
      </div>

      <div class="col-12 lg:col-6">
        <span class="p-float-label">
          <input
            id="last_name-input"
            formControlName="last_name"
            type="text"
            pInputText
          />
          <label for="last_name-input">Apellido</label>
        </span>
      </div>

      <div class="col-12 lg:col-6">
        <span class="p-float-label">
          <p-password
            id="password"
            formControlName="password"
            type="password"
            class="w-full"
            [feedback]="true"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right"
            [inputStyle]="{ width: '100%' }"
            [toggleMask]="true"
            promptLabel="Ingresar Contraseña"
            weakLabel="Débil"
            mediumLabel="Medio"
            strongLabel="Seguro"
          >
            <ng-template pTemplate="header">
              <h6>Seguridad</h6>
            </ng-template>
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">Sugerencias</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>Una minúscula</li>
                <li>Una mayúscula</li>
                <li>Un número</li>
                <li>Ocho caracteres</li>
              </ul>
            </ng-template></p-password
          >
          <label for="password-input">Contraseña</label>
        </span>
      </div>

      <div class="col-12 lg:col-6">
        <span class="p-float-label">
          <p-password
            id="password_confirmation"
            formControlName="password_confirmation"
            type="password"
            class="w-full"
            [feedback]="false"
            styleClass="p-password p-component p-inputwrapper p-input-icon-right"
            [inputStyle]="{ width: '100%' }"
            [toggleMask]="true"
          ></p-password>
          <label for="password_confirmation-input">Repetir Contraseña</label>
        </span>
      </div>

      <div class="col-12 lg:col-6">
        <span class="p-float-label">
          <input
            id="email-input"
            formControlName="email"
            type="email"
            pInputText
          />
          <label for="email-input">Email</label>
        </span>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <button
        pButton
        pRipple
        label="Registrarse"
        (click)="onRegister()"
      ></button>
    </div>
    <p-divider></p-divider>
    <div class="flex justify-content-center">
      <p>
        ¿Ya tienes usuario?
        <a href="iniciar-sesion/">Iniciar sesión</a>
      </p>
    </div>
  </ng-template>
</p-card>
