<form [formGroup]="form">
  <div
    class="flex flex-column justify-content-center align-items-center gap-3 p-2"
    [ngClass]="{
      'bg-yellow-100':
        editModeOn && valueHasChanged && !newSkill && !deleteFlag,
      'bg-red-100': editModeOn && deleteFlag,
      'bg-indigo-100': editModeOn && newSkill,
      'border-1': editModeOn,
      'border-round-lg': editModeOn,
      'surface-border': editModeOn
    }"
  >
    <p-button
      *ngIf="editModeOn"
      icon="pi pi-times"
      (click)="onDeleteClick()"
      styleClass="p-button-rounded p-button-danger p-button-text"
    ></p-button>
    <p-knob
      [formControl]="levelControl"
      [readonly]="!editModeOn"
      [size]="50"
      (onChange)="update()"
    ></p-knob>
    <div
      class="w-full flex flex-column justify-content-center align-items-center"
    >
      <app-input-text
        [editOn]="editModeOn"
        [label]="''"
        [control]="nameControl"
        [type]="'text'"
        (valueChange)="update()"
      ></app-input-text>
    </div>
  </div>
</form>
